<div id="board-container">
    <div id="board" style="width: 350px; height: 420px;">
        <GameRow letters="" length="5"></GameRow>
        <GameRow letters="" length="5"></GameRow>
        <GameRow letters="" length="5"></GameRow>
        <GameRow letters="" length="5"></GameRow>
        <GameRow letters="" length="5"></GameRow>
        <GameRow letters="" length="5"></GameRow>
    </div>
</div>

@code {

}
