<div id="board-container">
    <div class="board">
        <GameRow Letters="" Length=5 />
        <GameRow Letters="" Length=5 />
        <GameRow Letters="" Length=5 />
        <GameRow Letters="" Length=5 />
        <GameRow Letters="" Length=5 />
        <GameRow Letters="" Length=5 />
    </div>
</div>

@code {

}
